:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: url('./bg.png') no-repeat center;
  background-size:cover;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

form label{
  color:black
}
